@font-face {
  src: url("../../shared/assets/fonts/SF-Pro-Display-Light.otf")
    format("opentype");
  font-family: "SF Pro Display";
  font-weight: 300;
}

@font-face {
  src: url("../../shared/assets/fonts/SF-Pro-Display-Regular.otf")
    format("opentype");
  font-family: "SF Pro Display";
  font-weight: 400;
}

@font-face {
  src: url("../../shared/assets/fonts/SF-Pro-Display-Medium.otf")
    format("opentype");
  font-family: "SF Pro Display";
  font-weight: 500;
}

@font-face {
  src: url("../../shared/assets/fonts/SF-Pro-Display-Bold.otf")
    format("opentype");
  font-family: "SF Pro Display";
  font-weight: 700;
}
