:root {
  --font-family-main: "Consolas", "Arial", "Sans-Serif";

  --font-size-xs: 0.625rem;
  --font-line-xs: 0.75rem;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --font-size-sm: 0.75rem;
  --font-line-sm: 1rem;
  --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);

  --font-size-md: 1rem;
  --font-line-md: 1.25rem;
  --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);

  --font-size-lg: 1.5rem;
  --font-line-lg: 2rem;
  --font-lg: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 2rem;
  --font-line-xl: 2.25rem;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  --sidebar-width: 14rem;
  --sidebar-width-collapsed: 120px;
}
