.app.light {
  --bg-color: #ffffff;
  --light-gray: #f6f7f7;
  --addable-gray: #e6e6e6;

  --primary-color: #000000;
  --secondary-color-50: rgba(29, 29, 29, 0.5);
  --secondary-color-20: rgba(29, 29, 29, 0.2);

  --border-color: #d9d9d9;
}
